:root {
  --theme-color: #6c63ff; 

}

.booking-heading {
  color: var(--theme-color);
  background: none;
  border: none;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  
}
.booking-heading.active{
  border-bottom: 2px solid #6c63ff;
  color: #6c63ff;
}


.booking-table {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

.theme-header th {
  background-color: var(--theme-color);
  color: white;
  text-align: center;
  font-size: 12px;
}
.theme-header td{
  color: white;
  text-align: center;
  font-size: 12px;
}

.booking-table tbody tr:hover {
  background-color: #f7f7f7;
}

.badge-active {
  background-color: #28a745;
  color: white;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 12px;
}

